<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>
    <body>
        <%- include('includes/navigation.ejs') %>

        <!-- <header id="main-header">
            <div class="container">
                <h1 id="header-title">Contact Us</h1>
                <!-- <div class="col-md-6 align-self-center">
                    <input type="text" class="form-control" id="filter" placeholder="Search items..">
                </div> -->
            <!-- </div>
        </header> -->
        <main id="main">
            
            <div class="container"> 
                <h2>Fill in your details</h2>
                    <form id="addForm" class="product-form contactUs" action="/admin/success" method="GET">
                        <label name="username">Name</label><br>
                        <input type="text" class="for-control mr-2" id="username"><br>

                        <label name="email">Email</label><br>
                        <input type="email" class="for-control mr-2" id="email"><br>

                        <button type="submit">GET A CALL</button>
                    </form>
            </div>
        
        </main>
<%- include('includes/end.ejs') %>